*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/*
private.xml
fabric.properties
*.apk
*.jks
google-services.json
global_tracker.xml
