<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.fenchtose.movieratings">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MovieRatingsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:banner="@drawable/flutter_tv_banner"
        android:theme="@style/AppTheme"
        tools:targetApi="lollipop">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
			android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".features.settings.SettingsActivity"
            android:label="@string/settings_header"
			android:exported="true"/>
	    <activity
		    android:name=".features.settings.ImportActivity"
		    android:label="@string/import_activity_label"
		    android:screenOrientation="portrait"
			android:exported="true">
		    <intent-filter>
			    <category android:name="android.intent.category.DEFAULT"/>
			    <action android:name="android.intent.action.SEND"/>
			    <data android:mimeType="text/plain"/>
		    </intent-filter>
		    <intent-filter tools:ignore="AppLinkUrlError">
			    <category android:name="android.intent.category.DEFAULT"/>
			    <action android:name="android.intent.action.VIEW"/>
			    <data android:mimeType="text/plain"/>
		    </intent-filter>
	    </activity>

        <service
            android:name=".NetflixReaderService"
            android:label="@string/accessibility_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
			android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/serviceconfig"/>
        </service>

	    <provider
		    android:authorities="${applicationId}.provider"
		    android:name="androidx.core.content.FileProvider"
		    android:exported="false"
		    android:grantUriPermissions="true">

		    <meta-data
			    android:name="android.support.FILE_PROVIDER_PATHS"
		        android:resource="@xml/fileprovider"/>

	    </provider>

	    <service
		    android:name=".features.settings.bubble.BubbleService"
		    android:exported="false"/>

    </application>

</manifest>